@font-face {
  font-family: "iconfont"; /* Project id 2705101 */
  src: url('//at.alicdn.com/t/font_2705101_keziibm038i.woff2?t=1627701665398') format('woff2'),
       url('//at.alicdn.com/t/font_2705101_keziibm038i.woff?t=1627701665398') format('woff'),
       url('//at.alicdn.com/t/font_2705101_keziibm038i.ttf?t=1627701665398') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanxian:before {
  content: "\e60a";
}

.icon-dingdanguanli1:before {
  content: "\ea61";
}

.icon-shangpinguanli:before {
  content: "\e607";
}

.icon-shujuguanli:before {
  content: "\e651";
}

.icon-yonghuguanli:before {
  content: "\e622";
}

.icon-yonghuming:before {
  content: "\e689";
}

.icon-password:before {
  content: "\e612";
}

